.jumbotron
  p {{loginform.username}} {{loginform.password}}

  .hero-unit(ng-switch="login.state")
    #login-success(ng-switch-when="success")
      ng-include(src="'partials/login-success'")
    #login-form(ng-switch-when="login")
      ng-include(src="'partials/login-form'")

  