nav.navbar.navbar-default(role='navigation', ng-controller = 'NavbarCtrl')
  .container
    
    //  Brand and toggle get grouped for better mobile display 
    .navbar-header
    

      button.navbar-toggle(type='button', ng-click="navbar.isCollapsed = !navbar.isCollapsed; console.log(navbar.isCollapsed);", data-toggle='collapse', data-target='.navbar-ex1-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Gnopher
    
    
    
    // Collect the nav links, forms, and other content for toggling 
    .collapse.navbar-collapse.navbar-ex1-collapse(collapse="navbar.isCollapsed")
      ul.nav.navbar-nav
        li(ng-class="{active: isActive('/candidates')}")
          a(href='/candidates') Candidates
        li(ng-class="{ active: isActive('/positions')}")
          a(href='/positions') Positions
    
    
    
      ul.nav.navbar-nav.navbar-right
        
        
        //- form.navbar-form.navbar-left(role='search')
        //-   .form-group
        //-     input.form-control(type='text', placeholder='Search')
        //-   button.btn.btn-default(type='submit') Submit
      

        // logged in:
        li.dropdown(ng-show="LoggedIn.success")
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | {{LoggedIn.username}}
            b.caret
          ul.dropdown-menu
            li(ng-repeat="choice in navigation.profile",ng-class="{ active: isActive(choice.href)}")
              a(href="{{choice.href}}") {{choice.text}}
        // logged out:
        li(ng-show="!LoggedIn.success",ng-class="{ active: isActive('/login')}")
          a(target="_self", href='/login') Login
                
      // /.navbar-collapse 
