form(method='post', action='/register')
  input(name='username', value='username', type='text')
  input(name='password', type='password')
  input(name='first_name', value='Bob', type='text')
  input(type='submit', value='submit')