/* app css stylesheet */

.app-main-view{
  padding-bottom:20px; 
  min-height: 300px;
  position:relative;
}

/*form error css*/
form input.ng-invalid.ng-dirty{
  background-color:#fdd;
  color:#944;
}
form input.ng-invalid.ng-dirty:focus{
  background-color:#fff ;
}


.login-loading{
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.alert{
  
}
.question-title{
  font-size: 18px;
  margin-right:10px;
}
