form(name="form", role="form",ng-submit="LoggedIn.doLogin(loginForm); loginForm.password ='';")
  hr
  .form-group
    label(for="user") Username
    input.form-control(ng-model="loginForm.username", type="email",name="username", id="user", placeholder="username or email", required)
    //- span.alert-danger(ng-show="form.username.$dirty && form.username.$error.required") Tell us your email.
    //- span.alert-danger(ng-show="form.username.$dirty && form.username.$error.email") This is not a valid email
  .form-group
    label(for="password") Password
    input.form-control(ng-model="loginForm.password",required, type="password",name="password", id="password", placeholder="password")
    //- span.alert-danger(ng-show="form.password.$dirty && form.username.$error.required") Please input your password
  hr
  button.btn.btn-primary.pull-right(type="submit") Login
  br
    
